@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
$cinza: rgb(96, 93, 93);
$verde: rgb(32, 229, 32);
$azul-bg: rgb(43, 43, 181);
$azul-btn: rgb(5, 5, 122);
$azul-inputs: rgb(4, 4, 65);
$azul-bg-hover: rgb(14, 16, 93);
$branco: #fff;
$fonte-project: 'Rubik', sans-serif;