@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@mixin inputs {
    border: 2px solid #fff;
    border-radius: 20px 0px 20px 0px;
    font-size: 1.3rem;
    padding: 10px;
    outline: none;
    background: none;
    color: #fff;
}
@mixin btn {
    outline: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}