@use 'mixins';
@import '_variaveis';

body {
    background-color: $azul-bg;
    padding-top: 20px;
    font-family: $fonte-project;
    color: $branco;
    padding-bottom: 15px; 
    @include mixins.column;
    .theader {
        width: 80%;
        @include mixins.flex;
        .area-th {
            position: relative;
            input {
                @include mixins.inputs;
                margin-top: 10px;
                margin-left: 5px;
                &::placeholder {
                    color: $branco;
                }
            }
            .botao-plus {
                @include mixins.btn;
                transition: all .6s ease-in-out;
                background: none;
                color: $verde;
                position: absolute;
                right: 5px;
                top: 20px;
                &:hover {
                    color: $azul-btn;
                }
            }
        }
        
    }
    .inputs {
        @include mixins.column;
        margin-top: 18px;
        justify-content: space-around;
        background-color: $azul-inputs;
        box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.5);
        width: 80%;
        height: 400px;
        border-radius: 20px 0px 20px 0px;
        input {
            @include mixins.inputs;
            width: 80%;
            height: 55px;
            &::placeholder {
                color: $branco;
            }
            &::selection {
                outline: none;
            }
        }
        button {
            @include mixins.btn;
            padding: 10px;
            color: $branco;
            transition: all .6s ease-in-out;
            &.botao-envio {
                width: 300px;
                height: 50px;
                border-radius: 20px;
                background-color: $azul-btn;
                box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.5);
                &:hover {
                    background-color: $azul-bg-hover;
                }
            }  
        }
    }
    #table {
        margin-top: 30px;
        width: 80%;
        box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.5);
        tbody {
            tr {
                position: relative;
                .deletar {
                    position: absolute;
                    right: 10px;
                    top: -1px;
                    transition: all .6s ease-in-out;
                    @include mixins.btn;
                    padding: 10px;
                    background: none;
                    color: $branco;
                    height: 40px;
                    width: 40px;
                    &:hover {
                        color: red;
                    }
                }
            }
            
        }
    }
    .area-download {
        margin-top: 20px;
        padding-bottom: 10px;
        .botao-download { 
            @include mixins.btn;
            text-decoration: none;
            transition: all .6s ease-in-out;
            color: $branco;
            background-color: $verde;
            border-radius: 20px;
            padding: 20px;
            width: 100px;
            height: 50px;
            &:hover {
                box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.5);
                background-color: $azul-bg-hover;
            }
        }
    }
}